body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif !important;
  font-size: 18px;
  color:#555;
  background: #fff url('/assets/images/bg.png') repeat-x;
}

.wrapper {
  max-width: 740px;
  margin: auto;
}

.header{
	padding:1rem 0 1rem 0;
  text-align: center;
}


/*********** INDEX **************/

.tags-container {
  padding-top: 2rem;
  width:100%;
  max-width:420px;
  margin: auto;
}

.tag-item ul {
  padding-left: 0;
  margin:0;
}
.tag-item li {
  list-style: none;
  padding: 0.5rem;
}

.tags-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.icon-post {
  display: inline-block;
  width: 14px;
  height: 10px;
  background-image: url('/assets/images/bullet.png');
  background-size: contain;
  margin-right: 4px;
}
.title {
  font-size: 1.2rem;
  color:#555;
}

/*********** Recipe *****/

.content ul {
  float: left;
  height: 100vh;
  width: 300px;
  padding-left: 0;
  margin:0;
}
.content li {
  list-style: none;
  padding: 0.5rem;
  border-bottom: 1px dotted #555;
  margin-right: 3rem;
}

.recipe img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.excerpt {
  float:left;
}

/********* MISC *********/

h1 {
	color:#E87830;
}
h2 {
	font-size:1.8em;
	color:#579;
  margin-bottom: 2rem;
}
h3 {
	font-size:1.5em;
	color:#B4C24B;
  margin-bottom: 0.75rem;
}
a {
	color:#579;
	text-decoration:none;
}
a:hover{
	color:#CC0000;
}